<li>
  <div>
    <p>
      <%= message.text %>
    </p>
    <p>
      <a href="/messages/<%= message.id %>">
        <%= message.id %>
      </a>
    </p>
    <p>
      <%= message.user %>
    </p>
    <p>
      <%= message.added %>
    </p>
  </div>
</li>